.weatherIcon {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
}

.weatherDescription {
    display: inline-block;
    vertical-align: top;
}

.weatherDetails {
    font-size: 1.2em;
    margin-top: 10px;
}
